<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>

<body class="image">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{path('article_index')}}">Tayara</a>

        <div class="collapse navbar-collapse" id="navbarColor02">


            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-3 mr-3"><a href="{{path('article_index')}}">Home</a></li>
                <li class="nav-item ml-3 mr-3"><a href="{{path('article_new')}}">Créer Une Annonce</a></li>
                <li class="nav-item bb "><a href="{{path('security_inscription')}}">Inscription</a> </li>
                {% if not app.user %}
                <li class="nav-item ml-4 ">
                    <a href="{{path('security_login')}}">Connection</a>
                </li>
                {% else %}
                <li class="nav-item ml-4 ">
                    <a href="{{path('app_logout')}}">Deconnection</a>
                </li>
                {% endif %}
            </ul>


        </div>
    </nav>




    {% block body %}


    {% endblock %}
</body>

</html>